<% provide(:title, "Sign In") %>
<div id = "title">
  <h1>Sign In</h1>
</div>
  <div class = "row">
    <div class = "small-6 small-centered columns">
    <%= form_tag sessions_path do %>

        <%= label_tag :email %>
        <%= text_field_tag :email %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>

        <%= submit_tag "Sign In", class: "brown-button" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>