<div id="title">
    <h1><%= @recipe.title %></h1>
    <div id="author-sub">By <%=@recipe.users[0].name %></div>
    <%= image_tag @recipe.picture.url(:medium) unless @recipe.picture.nil? %>
</div>

<div class="row">
  <div class="small-4 columns">
    <h3 class="subheader">Ingredients</h2>
    <ul>
      <% @recipe.additions.each do | addition | %>
        <li> 
          <%= addition.quantity %> of <%= addition.ingredient_name %> 
        </li>
      <% end %>
    </ul>
  </div>

  <div class="small-8 columns">
    <h3 class="subheader">Instructions</h2>

    <ol>
    <% @recipe.steps.each do | step | %>
      <li> <%= step.content %></li>
    <% end %>
    <li>Enjoy!</li>
    </ol>
  </div>
</div>

<% if signed_in? %>
  <div class="row">
    <div class="small-2 small-centered columns">
      <%= link_to "Edit Recipe", edit_recipe_path, class: "brown-button" %>
      <%= link_to "Delete Recipe", 
                  @recipe, 
                  method: :delete, 
                  data: { confirm: "Are you sure you want to delete this recipe?" }, 
                  class: "brown-button" %>
    </div>
  </div>

<% end %>