<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'jquery', "nested_form" %>
    <%- javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if signed_in? %>
      <%= render '/layouts/header' %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag('div data-alert', value, class: "alert-box #{key}") %>
    <% end %>


    <%= yield %>
  </body>
</html>